{% assign button = plan.button[0] %}

{% if include.checkout %}
  {% assign class = 'checkout' %}
  {% assign title = 'Checkout' %}
{% else %}
  {% assign class = button.class %}
  {% assign title = button.title %}
{% endif %}

<div class="button {% include atoms/classname.html title=class %}">
  <p>
    {% if button.class == 'active' %}
      {% include atoms/text-with-icon.html icon="icon-checkmark-green" text=title %}
    {% else %}
      {{ title }}
    {% endif %}
  </p>
</div>

{% if include.checkout %}
<div class="terms">
  <p>
    <input type="checkbox" name="terms" id="terms" checked>
    <label for="terms">I Accept iorad's Terms and Conditions</label>
  </p>
</div>
{% endif %}