<div class="features">
  <ul>
    {% for feature in plan.features %}
      {% if feature.description %}
        {% assign klass = 'with-description' %}
      {% else %}
        {% assign klass = 'no-description' %}
      {% endif %}
      
      <li>
        <span class="feature {{ class }} {% include atoms/classname.html title=klass %}">
          {{ feature.title }}
        </span>
        
        {% if feature.description %}
          <span class="feature-description">
            {{ feature.description }}
            <span class="close">close</span>
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>