---
layout: default
title: Pricing
plans:
  - title: Individual/Tiny Team
    subtitle: Up to 4 Users
    price: 32
    billed: Billed annually or $40 month-to-month
    button: Upgrade
    features:
      - title: 1 Custom Theme
        description: You can brand the player with your own logo(s) and skin(s). Official Rock start status! Each user gets a theme of their very own
  - title: Team
    subtitle: Up to 17 Users
    price: 128
    features:
      - title: 5 Custom Themes
        description: You can brand the player with your own logo(s) and skin(s). Official Rock start status! Each user gets a theme of their very own
    billed: Billed annually or $160 month-to-month
    button: Upgrade 
  - title: Enterprise
    subtitle: 20+ Users
    price: Contact us
    features:
      - title: Unlimited Custom Themes
        description: You can brand the player with your own logo(s) and skin(s). Official Rock start status! Each user gets a theme of their very own
      - title: Host on your own server
        description: Download a html zip of your tutorial and host it on Sharepoint or your own server
    button: Contact Us
---

<header class="bottom-shadow animated" id="header">
  <!-- your header goes here -->
</header>


<!-- my code starts here -->
<section id="pricing">
  <h3>Pricing</h3>
  {% include structures/title.html %}
  {% include structures/all-plans.html %}
  
  <aside id="primary-plans">
    <h3>Premium Plans</h3>
    
    {% for plan in page.plans %}
      <p>&nbsp;</p>
      {% include structures/primary-plan.html id=forloop.index %}
    {% endfor %}
  </aside>
  
  
  
</section>