---
layout: default
title: Pricing
---

<header class="bottom-shadow animated" id="header">
  <!-- your header goes here -->
</header>


<!-- my code starts here -->
<div id="pricing">
  {% include structures/page-title.html %}
  
  {% include structures/pricing-faq.html %}
</div>
			 



	
   

    

    
        <section class="plans container text-center">
           <div class="row">
               <div class="col-sm-9 col-sm-push-3 col-push-3 special_offer green">
                   Beta special unlimited private tutorials for the next 30 days - expires July 16th
               </div>
           </div>

           <div class="row">
           
                   <div class="col-sm-3">
                       <div class="plan light-bg">
                           <div class="blue-bg first-child">
                               <h3 class="fsize28 uppercase">
                               	ONE TIMER
							   </h3>
                               
                               		<p class="white total">
                                    	<span class="big-cost">$
                                        	<span id="totalcost48">
                                            	16 
                                            </span>
                                        </span><br>
                                        per 
                                        <span id="cycle">
											
                                                    tutorial
                                                
                                        </span>
                                    </p>
                               
                           </div>

                           <ul>
                                
                                    <li class="white payment-time">
                                        <p>One time Payment</p>
                                    </li>
                                
                                <li>
                                    <p class="white">
                                        
                                            	<input type="hidden" value="1" id="usercost48">
                                                1 User
                                            
                                    </p>
                                </li>
                                <li>
                                    <p class="white">
                                        
                                            <select onchange="variablePlanCost(1600.00,48);" id="tutorial48" name="tutorial" class="quantity">
                                                
                                                    <option value="1">
                                                       1
                                                    </option>
                                                
                                                    <option value="2">
                                                       2
                                                    </option>
                                                
                                                    <option value="3">
                                                       3
                                                    </option>
                                                
                                                    <option value="4">
                                                       4
                                                    </option>
                                                
                                                    <option value="5">
                                                       5
                                                    </option>
                                                
                                                    <option value="6">
                                                       6
                                                    </option>
                                                
                                                    <option value="7">
                                                       7
                                                    </option>
                                                
                                                    <option value="8">
                                                       8
                                                    </option>
                                                
                                                    <option value="9">
                                                       9
                                                    </option>
                                                
                                                    <option value="10">
                                                       10
                                                    </option>
                                                
                                                    <option value="11">
                                                       11
                                                    </option>
                                                
                                                    <option value="12">
                                                       12
                                                    </option>
                                                
                                                    <option value="13">
                                                       13
                                                    </option>
                                                
                                                    <option value="14">
                                                       14
                                                    </option>
                                                
                                                    <option value="15">
                                                       15
                                                    </option>
                                                
                                                    <option value="16">
                                                       16
                                                    </option>
                                                
                                                    <option value="17">
                                                       17
                                                    </option>
                                                
                                                    <option value="18">
                                                       18
                                                    </option>
                                                
                                                    <option value="19">
                                                       19
                                                    </option>
                                                
                                                    <option value="20">
                                                       20
                                                    </option>
                                                
                                            </select>
                                            Tutorial(s)
                                            <input type="hidden" value="16" id="plancost">
                                            <input type="hidden" value="1600.00" id="tutorialcost">
                                            <input type="hidden" value="tutorial" id="cycleperiod">
                                            <input type="hidden" value="1" id="privateTutorials48">
                                            <br>
                                            <span class="fadedwhite fsize14">Each tutorial is $16</span>
                                        
                                        <input type="hidden" value="1600.00" id="planAmount48">
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">Data Masker</p>
                                </li>
                                <li>
                                	<span class="not-included"></span>
                                    <p class="white padd-low">
                                        Custom Theme
                                        <br>
                                        <a data-target="faq-what-is-this" class="goto-faqs" onclick="return false" href="#">(what is this?)</a>
                                    </p>
                                </li>
                                <li>
                                    <span class="not-included"></span>
                                    <p class="white padd-low">
                                        DOCX/PPTX
                                        <br>
                                        <a data-target="faq-example" class="goto-faqs" onclick="return false" href="#">(example)</a>
                                    </p>
                                </li>
                                <li>
                                	<span class="not-included"></span>
                                    <p class="white padd-low">
                                        Host on Your
                                        Own Server
                                    </p>
                                </li>
                                
                                    <li>
                                        <p class="white">
                                           $16/tutorial
                                        </p>
                                    </li>
                           		
                           </ul>

                           <div class="blue-bg first-child calltoaction">
							    
                                	<a class="btn btn-red btn-regular" title="Upgrade" onclick="proceedPayment(48,0)" href="javascript:void(0);">Upgrade</a>
                                
                           </div>
                       </div><!-- /.plan -->
                   </div>
                
                   <div class="col-sm-3">
                       <div class="plan light-bg">
                           <div class="blue-bg first-child">
                               <h3 class="fsize28 uppercase">
                               	INDIVIDUAL
							   </h3>
                               
                               		<p class="white total">
                                    	<span class="big-cost">$
                                        	<span id="totalcost52">
                                            	50 
                                            </span>
                                        </span><br>
                                        per 
                                        <span id="cycle">
											
                                                    month
                                                
                                        </span>
                                    </p>
                               
                           </div>

                           <ul>
                                
                                    <li class="white payment-time">
                                        <p>Monthly Payment</p>
                                    </li>
                                
                                <li>
                                    <p class="white">
                                        
                                            	<input type="hidden" value="" id="usercost52">
                                                1 User
                                            
                                    </p>
                                </li>
                                <li>
                                    <p class="white">
                                        Unlimited Private Tutorials
                                            
                                        <input type="hidden" value="5000.00" id="planAmount52">
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">Data Masker</p>
                                </li>
                                <li>
                                	<span class="included"></span>
                                    <p class="white padd-low">
                                       1 Custom Theme
                                        <br>
                                        <a data-target="faq-what-is-this" class="goto-faqs" onclick="return false" href="#">(what is this?)</a>
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">
                                        DOCX/PPTX
                                        <br>
                                        <a data-target="faq-example" class="goto-faqs" onclick="return false" href="#">(example)</a>
                                    </p>
                                </li>
                                <li>
                                	<span class="not-included"></span>
                                    <p class="white padd-low">
                                        Host on Your
                                        Own Server
                                    </p>
                                </li>
                                
                                    <li>
                                        <p class="white">
                                           $50/month/user
                                        </p>
                                    </li>
                           		
                           </ul>

                           <div class="blue-bg first-child calltoaction">
							    
                                	<a class="btn btn-red btn-regular" title="Upgrade" onclick="proceedPayment(52,0)" href="javascript:void(0);">Upgrade</a>
                                
                           </div>
                       </div><!-- /.plan -->
                   </div>
                
                   <div class="col-sm-3">
                       <div class="plan light-bg">
                           <div class="blue-bg first-child">
                               <h3 class="fsize28 uppercase">
                               	SMALL TEAM
							   </h3>
                               
                               		<p class="white total">
                                    	<span class="big-cost">$
                                        	<span id="totalcost53">
                                            	84 
                                            </span>
                                        </span><br>
                                        per 
                                        <span id="cycle">
											
                                                    month
                                                
                                        </span>
                                    </p>
                               
                           </div>

                           <ul>
                                
                                    <li class="white payment-time">
                                        <p>Monthly Payment</p>
                                    </li>
                                
                                <li>
                                    <p class="white">
                                        
                                                <select onchange="groupPlanCost(8400.00,53);" id="user53" name="user" class="quantity">
                                                    
                                                        <option value="1">
                                                            1
                                                        </option>
                                                    
                                                        <option value="2">
                                                            2
                                                        </option>
                                                    
                                                        <option value="3">
                                                            3
                                                        </option>
                                                    
                                                        <option value="4">
                                                            4
                                                        </option>
                                                    
                                                        <option value="5">
                                                            5
                                                        </option>
                                                    
                                                        <option value="6">
                                                            6
                                                        </option>
                                                    
                                                        <option value="7">
                                                            7
                                                        </option>
                                                    
                                                        <option value="8">
                                                            8
                                                        </option>
                                                    
                                                        <option value="9">
                                                            9
                                                        </option>
                                                    
                                                        <option value="10">
                                                            10
                                                        </option>
                                                    
                                                </select>
                                                Users
                                                <input type="hidden" value="600" id="plancost">
                                                <input type="hidden" value="1" id="usercost53">
                                                <input type="hidden" value="month" id="cycleperiod">
                                            
                                    </p>
                                </li>
                                <li>
                                    <p class="white">
                                        Unlimited Private Tutorials
                                             &amp; Team Management 
                                        <input type="hidden" value="8400.00" id="planAmount53">
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">Data Masker</p>
                                </li>
                                <li>
                                	<span class="included"></span>
                                    <p class="white padd-low">
                                       3 Custom Theme
                                        <br>
                                        <a data-target="faq-what-is-this" class="goto-faqs" onclick="return false" href="#">(what is this?)</a>
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">
                                        DOCX/PPTX
                                        <br>
                                        <a data-target="faq-example" class="goto-faqs" onclick="return false" href="#">(example)</a>
                                    </p>
                                </li>
                                <li>
                                	<span class="not-included"></span>
                                    <p class="white padd-low">
                                        Host on Your
                                        Own Server
                                    </p>
                                </li>
                                
                                    <li>
                                        <p class="white">
                                           $84/month/user<br>(10% Discount)
                                        </p>
                                    </li>
                           		
                           </ul>

                           <div class="blue-bg first-child calltoaction">
							    
                                	<a class="btn btn-red btn-regular" title="Upgrade" onclick="proceedPayment(53,0)" href="javascript:void(0);">Upgrade</a>
                                
                           </div>
                       </div><!-- /.plan -->
                   </div>
                
                   <div class="col-sm-3">
                       <div class="plan light-bg">
                           <div class="blue-bg first-child">
                               <h3 class="fsize28 uppercase">
                               	ENTERPRISE
							   </h3>
                               
                               		<p class="white total">
                                    	<span class="big-cost">$
                                        	<span id="totalcost54">
                                            	36 
                                            </span>
                                        </span><br>
                                        per 
                                        <span id="cycle">
											
                                                    month
                                                
                                        </span>
                                    </p>
                               
                           </div>

                           <ul>
                                
                                    <li class="white payment-time">
                                        <p>Monthly Payment</p>
                                    </li>
                                
                                <li>
                                    <p class="white">
                                        
                                                <select onchange="groupPlanCost(3600.00,54);" id="user54" name="user" class="quantity">
                                                    
                                                        <option value="1">
                                                            1
                                                        </option>
                                                    
                                                        <option value="2">
                                                            2
                                                        </option>
                                                    
                                                        <option value="3">
                                                            3
                                                        </option>
                                                    
                                                        <option value="4">
                                                            4
                                                        </option>
                                                    
                                                        <option value="5">
                                                            5
                                                        </option>
                                                    
                                                        <option value="6">
                                                            6
                                                        </option>
                                                    
                                                        <option value="7">
                                                            7
                                                        </option>
                                                    
                                                        <option value="8">
                                                            8
                                                        </option>
                                                    
                                                        <option value="9">
                                                            9
                                                        </option>
                                                    
                                                        <option value="10">
                                                            10
                                                        </option>
                                                    
                                                        <option value="11">
                                                            11
                                                        </option>
                                                    
                                                        <option value="12">
                                                            12
                                                        </option>
                                                    
                                                        <option value="13">
                                                            13
                                                        </option>
                                                    
                                                        <option value="14">
                                                            14
                                                        </option>
                                                    
                                                        <option value="15">
                                                            15
                                                        </option>
                                                    
                                                        <option value="16">
                                                            16
                                                        </option>
                                                    
                                                        <option value="17">
                                                            17
                                                        </option>
                                                    
                                                        <option value="18">
                                                            18
                                                        </option>
                                                    
                                                        <option value="19">
                                                            19
                                                        </option>
                                                    
                                                        <option value="20">
                                                            20
                                                        </option>
                                                    
                                                </select>
                                                Users
                                                <input type="hidden" value="600" id="plancost">
                                                <input type="hidden" value="1" id="usercost54">
                                                <input type="hidden" value="month" id="cycleperiod">
                                            
                                    </p>
                                </li>
                                <li>
                                    <p class="white">
                                        Unlimited Private Tutorials
                                             &amp; Team Management 
                                        <input type="hidden" value="3600.00" id="planAmount54">
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">Data Masker</p>
                                </li>
                                <li>
                                	<span class="included"></span>
                                    <p class="white padd-low">
                                       Unlimited Custom Theme
                                        <br>
                                        <a data-target="faq-what-is-this" class="goto-faqs" onclick="return false" href="#">(what is this?)</a>
                                    </p>
                                </li>
                                <li>
                                    <span class="included"></span>
                                    <p class="white padd-low">
                                        DOCX/PPTX
                                        <br>
                                        <a data-target="faq-example" class="goto-faqs" onclick="return false" href="#">(example)</a>
                                    </p>
                                </li>
                                <li>
                                	<span class="included"></span>
                                    <p class="white padd-low">
                                        Host on Your
                                        Own Server
                                    </p>
                                </li>
                                
                                    <li>
                                        <p class="white">
                                           $36/month/user<br>(10% Discount)
                                        </p>
                                    </li>
                           		
                           </ul>

                           <div class="blue-bg first-child calltoaction">
							   
                                	<a class="btn btn-red btn-regular mailTo" title="Contact Us" onclick="submitEmailForm()" href="javascript:void(0);">Contact Us</a>
                                
                           </div>
                       </div><!-- /.plan -->
                   </div>
                
           </div>

           <div class="row free-plan-price">
               <div class="col-sm-12 col-md-9 text-left">
                   <p>IOrad free plan allows you to create unlimited public tutorials, but you cannot make private tutorials.</p>
               </div>
               <div class="col-sm-12 col-md-3 text-right">
				
                	<a href="javascript:" title="Free Plan" class="btn btn-red btn-regular">Free Plan</a>
                
               </div>
           </div>
       </section>
    

    