@mixin faqs {
  h2 {
    @include font(title);
  }
  
  @include center($text-width * 2);
  margin: $gutter * 2 0;
  
  .container {
    article {
      @include show-title;
      margin-top: $gutter * 2;
      
      @include center($text-width);
      
      h3 {
        @include font(box-title);
      }

      .container {
        p {
          margin-top: $gutter;
        }
      }
    }
  }
}