@mixin primary-plans {
  @include primary-plan-container;
  
  article {
    @include center($text-width);
    @include symmetric-grid(3, $gutter, 1px);
    margin-bottom: $gutter * 2;
    padding: $gutter;
    
    position: relative;
    
    border: 1px solid $blue;
    @include primary-plan;
    
  }
}



@mixin primary-plan-container {
  @include portrait {
    margin-top: $gutter * 2;
    @include padding($padding: $gutter);
    
    article.popular {
      margin-top: $gutter;
    }
  }
  
  @include landscape {
    margin-top: $gutter * 3;
    @include padding($padding: 10%);
  }
}

