@mixin primary-plans {
  @include primary-plan-container;
  
  article {
    @include center($text-width);
    margin-bottom: $gutter * 2;
    position: relative;
    
    @include symmetric-grid(3, $gutter, 1px);
    padding: $gutter;
    
    @include normal-screen {
      @include symmetric-grid(3, 0em, 1px);
      padding: $gutter 0;
    }
    
    border: 1px solid $lightblue;
    @include primary-plan($lightblue);
    
  }
}



@mixin primary-plan-container {
  @include portrait {
    margin-top: $gutter * 2;
    @include padding($padding: $gutter);
    
    article.popular {
      margin-top: $gutter;
    }
  }
  
  @include landscape {
    margin-top: $gutter * 3;
    @include padding($padding: 1%);
  }
  
  @include large-screen-and-up {
    @include padding($padding: 10%);
  }
}

