{% assign id = include.id | times: 1 %}
{% assign plan = page.plans[id] %}

<article id="{% include atoms/classname.html title=plan.title %}" class="primary-plan {% include atoms/classname.html title=plan.class %}">
  <div class="container">
    {% include molecules/most-popular.html %}
    
    {% include molecules/title.html %}
    {% include molecules/subtitle.html %}
    {% include molecules/secondary-subtitle.html %}
    {% include molecules/users.html %}
    {% include molecules/price.html %}
    {% include molecules/instead-of-price.html %}
    {% include molecules/features.html checkout=include.checkout %}
    {% include molecules/billed.html %}
    {% include molecules/button.html checkout=include.checkout %}
  </div>
</article>