@mixin enterprise {
  @include landscape {
    .instead-of-price {
      @include block;
      height: $gutter * 6;
      
      .instead-of-price p {
        margin-top: $gutter + $gutter / 4;
      }
    }

    .button {
      margin-top: $gutter * 2 + $gutter / 2 + $gutter / 6;
    }
  }
}