@mixin enterprise {
  @include landscape {
    .instead-of-price {
      p {
        margin-top: $gutter + $gutter / 4;
      } 
    }

    .features {
      margin-top: $gutter * 2 + $gutter / 2;
    }

    .button {
      margin-top: $gutter * 2 + $gutter / 2;
    }
  }
}