@mixin most-popular {
  @include block;
  position: absolute;
  top: calc(#{-$gutter} - 0px);
  left: 0;

  @include colors(darkblue-on-green);
  @include font(box-title);
  font-size: 100%;
  padding: $gutter / 4 0;
}