@mixin price($scheme) {
  @include block;
  margin-top: $gutter * 2;
  
  .usd {
    @include circle-with-text($gutter * 2);
    @include font(highlight);
    @include colors($scheme);
    border: none;

    position: relative;
    top: -$gutter / 2;

    span {
      top: $gutter / 2;
    }
  }
}