/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* The text must be inside a <span> */
/* for very combination check the contrast ratio !!! - http://leaverou.github.io/contrast-ratio/
 - white on darkblue: 14.9 - white on blue: 9.6 - white on lightblue: 6.3, only suitable for large fonts, 18pt and above - white on green: 2.5, not usable - white on red: 2.5, not usable - green on darkblue: 5.9, only suitable for large fonts, 18pt and above - darkblue on green: ... the same as above
*/
/* Center horizontally - works with an inner container only - example: <header> <div class="container"> ... header { @include center }
*/
/* Center vertically or horizontally using transformations
- http://davidwalsh.name/css-vertical-center
*/
/* https://developers.google.com/web/fundamentals/look-and-feel/animations/animating-between-views
*/
html body { font-size: 125%; line-height: 1.25; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; color: white; background-color: #162746; }
@media only screen and (max-width: 63.999em) { html body { font-size: 100%; } }
@media only screen and (min-width: 90.001em) { html body { font-size: 150%; } }
html body a { color: white; background-color: #162746; }
html body .portrait { display: none; }
@media only screen and (max-width: 63.999em) { html body .landscape { display: none; }
  html body .portrait { display: block; } }
html body section, html body article, html body nav, html body header, html body footer, html body aside { width: 100%; float: left; }
html body section > h3, html body article > h3, html body nav > h3, html body header > h3, html body footer > h3, html body aside > h3 { display: none; }
html body header { text-align: center; height: 2.5em; color: white; background-color: #276497; font-size: 1.3077em; }
html body header .container { text-align: center; display: inline-block; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em); max-width: 31.25em; }

html.pricing body #pricing #title { text-align: center; margin: 2.5em 0; }
html.pricing body #pricing #title .container { text-align: center; display: inline-block; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em); max-width: 62.5em; }
html.pricing body #pricing #title .container h1 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.6154em; text-transform: uppercase; letter-spacing: 0.10417em; line-height: 1; }
html.pricing body #pricing #title .container p { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-style: italic; margin-top: 1.25em; }
html.pricing body #pricing #all-plans { text-align: center; }
html.pricing body #pricing #all-plans .container { text-align: center; display: inline-block; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em); max-width: 31.25em; }
html.pricing body #pricing #all-plans .container p { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 0.10417em; }
html.pricing body #pricing #all-plans .container ul { margin-top: 1.25em; /*
border: 1px solid $blue;
@include padding($border: 1px);
padding-top: $gutter / 2;
padding-bottom: 0;
@include list-underlined($no-last-border: true);
*/ font-family: 'Source Sans Pro', sans-serif; font-weight: 400; }
html.pricing body #pricing #all-plans .container ul li { margin-bottom: 0.3125em; padding-bottom: 0.3125em; border-bottom: 1px solid #2f456c; }
html.pricing body #pricing #all-plans .container ul li span.checkmark { margin-left: 0.625em; }
html.pricing body #pricing #all-plans .container ul li span.checkmark img { max-height: 1.25em; position: relative; top: 0.3125em; }
@media only screen and (max-width: 63.999em) { html.pricing body #pricing #primary-plans { margin-top: 2.5em; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em - 0px); }
  html.pricing body #pricing #primary-plans article.popular { margin-top: 2.5em; } }
@media only screen and (min-width: 64em) { html.pricing body #pricing #primary-plans { margin-top: 3.75em; padding-left: 10%; padding-right: 10%; width: calc(100% - 20% - 0px); } }
html.pricing body #pricing #primary-plans article { text-align: center; float: left; padding-left: 1.25em; padding-right: 1.25em; width: calc(30% - 2.5em - 2px); margin-right: 5%; margin-bottom: 2.5em; border: 1px solid #2f456c; padding: 1.25em; position: relative; }
html.pricing body #pricing #primary-plans article .container { text-align: center; display: inline-block; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em); max-width: 31.25em; }
html.pricing body #pricing #primary-plans article:last-of-type { margin-right: 0; }
@media only screen and (max-width: 63.999em) { html.pricing body #pricing #primary-plans article { padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em - 2px); margin-right: 0; } }
html.pricing body #pricing #primary-plans article .title h2 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 0.10417em; }
html.pricing body #pricing #primary-plans article .subtitle p { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-style: italic; }
html.pricing body #pricing #primary-plans article .users { margin: 1.25em 0; }
html.pricing body #pricing #primary-plans article .users .selectbox { border: 1px solid #2f456c; background: transparent url("/assets/images/icon-arrow-down-green.png") no-repeat 99% 50%; width: 70%; margin: 0 15%; overflow: hidden; }
html.pricing body #pricing #primary-plans article .users .selectbox select { color: white; background-color: #162746; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-size: 100%; padding: 5px 8px; width: 130%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; }
html.pricing body #pricing #primary-plans article .price .usd { width: 2.5em; height: 2.5em; -webkit-border-radius: 2.5em; -moz-border-radius: 2.5em; -ms-border-radius: 2.5em; -o-border-radius: 2.5em; border-radius: 2.5em; border: 2px solid; display: inline-block; text-align: center; font-size: smaller; color: #162746; background-color: #00ba75; font-size: 1.3077em; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; border: none; position: relative; top: -0.625em; }
html.pricing body #pricing #primary-plans article .price .usd span { position: relative; top: 0.83333em; }
html.pricing body #pricing #primary-plans article .price .usd span { top: 0.625em; }
html.pricing body #pricing #primary-plans article .features { margin-top: 1.25em; }
html.pricing body #pricing #primary-plans article .features ul { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; }
html.pricing body #pricing #primary-plans article .features ul li { margin-bottom: 0.3125em; padding-bottom: 0.3125em; border-bottom: 1px solid #2f456c; }
html.pricing body #pricing #primary-plans article .features ul li span.feature:after { content: '?'; margin-left: 0.625em; color: #00ba75; background-color: transparent; font-size: smaller; cursor: pointer; }
html.pricing body #pricing #primary-plans article .features ul li span.feature:after a { color: #00ba75; background-color: transparent; }
@media only screen and (max-width: 63.999em) { html.pricing body #pricing #primary-plans article .features ul li span.feature:after { margin-left: 2px; } }
html.pricing body #pricing #primary-plans article .features ul li span.feature-description { display: none; }
html.pricing body #pricing #primary-plans article .billed { margin-top: 1.25em; }
html.pricing body #pricing #primary-plans article .billed p { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-style: italic; }
html.pricing body #pricing #primary-plans article .button { margin-top: 1.25em; }
html.pricing body #pricing #primary-plans article .button p { padding: 0.625em 1.25em; border: 2px solid; -webkit-border-radius: 1.25em; -moz-border-radius: 1.25em; -ms-border-radius: 1.25em; -o-border-radius: 1.25em; border-radius: 1.25em; display: inline-block; cursor: pointer; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: smaller; text-transform: uppercase; letter-spacing: 0.10417em; }
html.pricing body #pricing #primary-plans article .button p a { text-decoration: none; }
html.pricing body #pricing #primary-plans article .popular { display: none; width: 100%; float: left; position: absolute; top: -1.875em; left: 0; color: #00ba75; background-color: #162746; font-size: 1.3077em; font-family: 'Source Sans Pro', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 0.10417em; }
@media only screen and (min-width: 64em) { html.pricing body #pricing #primary-plans article#enterprise .instead-of-price p { margin-top: 1.5625em; }
  html.pricing body #pricing #primary-plans article#enterprise .features { margin-top: 3.125em; }
  html.pricing body #pricing #primary-plans article#enterprise .button { margin-top: 3.125em; } }
@media only screen and (max-width: 63.999em) { html.pricing body #pricing #secondary-plans { margin-top: 2.5em; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em - 0px); }
  html.pricing body #pricing #secondary-plans article.popular { margin-top: 2.5em; } }
@media only screen and (min-width: 64em) { html.pricing body #pricing #secondary-plans { margin-top: 3.75em; padding-left: 10%; padding-right: 10%; width: calc(100% - 20% - 0px); } }
html.pricing body #pricing #secondary-plans article { text-align: center; float: left; padding-left: 1.25em; padding-right: 1.25em; width: calc(47.5% - 2.5em - 2px); margin-right: 5%; margin-bottom: 2.5em; border: 1px solid #2f456c; padding: 1.25em; position: relative; }
html.pricing body #pricing #secondary-plans article .container { text-align: center; display: inline-block; padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em); max-width: 31.25em; }
html.pricing body #pricing #secondary-plans article:last-of-type { margin-right: 0; }
@media only screen and (max-width: 63.999em) { html.pricing body #pricing #secondary-plans article { padding-left: 1.25em; padding-right: 1.25em; width: calc(100% - 2.5em - 2px); margin-right: 0; } }
html.pricing body #pricing #secondary-plans article .title h2 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 0.10417em; }
html.pricing body #pricing #secondary-plans article .subtitle p { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-style: italic; }
html.pricing body #pricing #secondary-plans article .users { margin: 1.25em 0; }
html.pricing body #pricing #secondary-plans article .users .selectbox { border: 1px solid #2f456c; background: transparent url("/assets/images/icon-arrow-down-green.png") no-repeat 99% 50%; width: 70%; margin: 0 15%; overflow: hidden; }
html.pricing body #pricing #secondary-plans article .users .selectbox select { color: white; background-color: #162746; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-size: 100%; padding: 5px 8px; width: 130%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; }
html.pricing body #pricing #secondary-plans article .price .usd { width: 2.5em; height: 2.5em; -webkit-border-radius: 2.5em; -moz-border-radius: 2.5em; -ms-border-radius: 2.5em; -o-border-radius: 2.5em; border-radius: 2.5em; border: 2px solid; display: inline-block; text-align: center; font-size: smaller; color: #162746; background-color: #00ba75; font-size: 1.3077em; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; border: none; position: relative; top: -0.625em; }
html.pricing body #pricing #secondary-plans article .price .usd span { position: relative; top: 0.83333em; }
html.pricing body #pricing #secondary-plans article .price .usd span { top: 0.625em; }
html.pricing body #pricing #secondary-plans article .features { margin-top: 1.25em; }
html.pricing body #pricing #secondary-plans article .features ul { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; }
html.pricing body #pricing #secondary-plans article .features ul li { margin-bottom: 0.3125em; padding-bottom: 0.3125em; border-bottom: 1px solid #2f456c; }
html.pricing body #pricing #secondary-plans article .features ul li span.feature:after { content: '?'; margin-left: 0.625em; color: #00ba75; background-color: transparent; font-size: smaller; cursor: pointer; }
html.pricing body #pricing #secondary-plans article .features ul li span.feature:after a { color: #00ba75; background-color: transparent; }
@media only screen and (max-width: 63.999em) { html.pricing body #pricing #secondary-plans article .features ul li span.feature:after { margin-left: 2px; } }
html.pricing body #pricing #secondary-plans article .features ul li span.feature-description { display: none; }
html.pricing body #pricing #secondary-plans article .billed { margin-top: 1.25em; }
html.pricing body #pricing #secondary-plans article .billed p { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-style: italic; }
html.pricing body #pricing #secondary-plans article .button { margin-top: 1.25em; }
html.pricing body #pricing #secondary-plans article .button p { padding: 0.625em 1.25em; border: 2px solid; -webkit-border-radius: 1.25em; -moz-border-radius: 1.25em; -ms-border-radius: 1.25em; -o-border-radius: 1.25em; border-radius: 1.25em; display: inline-block; cursor: pointer; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: smaller; text-transform: uppercase; letter-spacing: 0.10417em; }
html.pricing body #pricing #secondary-plans article .button p a { text-decoration: none; }
html.pricing body #pricing #secondary-plans article .popular { display: none; width: 100%; float: left; position: absolute; top: -1.875em; left: 0; color: #00ba75; background-color: #162746; font-size: 1.3077em; font-family: 'Source Sans Pro', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 0.10417em; }
@media only screen and (min-width: 64em) { html.pricing body #pricing #secondary-plans article#enterprise .instead-of-price p { margin-top: 1.5625em; }
  html.pricing body #pricing #secondary-plans article#enterprise .features { margin-top: 3.125em; }
  html.pricing body #pricing #secondary-plans article#enterprise .button { margin-top: 3.125em; } }
html.pricing body #faq { display: none; }

#gravity .h-vertical, #gravity .h-horizontal, #gravity .h-golden-rectangle { position: fixed; z-index: 1000; opacity: .3; }
#gravity .h-vertical { left: calc(50% - 1px); height: 100%; border-left: 1px solid red; }
#gravity .h-horizontal { top: calc(50% - 1px); width: 100%; border-bottom: 1px solid red; }
#gravity .h-golden-rectangle { border: 1px solid green; opacity: .8; }
#gravity .h-gravity-point { position: absolute; z-index: 1000; opacity: .3; display: none; }
#gravity .h-gravity-point:after { content: ''; display: block; width: 1.25em; height: 1.25em; background: red; position: relative; top: -0.625em; left: -0.625em; }
#gravity .h-gravity-point:last-of-type { display: block; }

#grid { position: absolute; top: 0; opacity: .1; z-index: -1; }

#grid .col { border-right: 1px solid; border-bottom: 1px solid; width: calc(5.20833em + 1.25em - 1px); height: calc(5em + 1.25em - 1px); float: left; }

#grid .gutter-right { float: right; border-left: 1px solid; width: calc(1.25em - 1px); height: 100%; }

#grid .gutter-bottom { float: left; border-bottom: 1px solid; height: calc(1.25em - 1px); width: 100%; }

/*
#grid { z-index: 100;  .col { color: red; }
}
*/
#grid, #gravity { display: none; }
