<article id="all-plans">
  <h3>All plans include</h3>
  
  <div class="container">
    <p>
      All monthly plans include
    </p> 
    
    <ul>
      {% for plan in page.all-plans %}
        <li class="feature with-description">
          {% include atoms/text-with-icon.html icon="icon-checkmark-green" text=plan.title %}
          <span class="feature-description">
            {{ plan.description }}
            <span class="close">close</span>
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>