{% assign id = include.id | times: 1 %}
{% assign plan = page.plans[id] %}

<article id="{% include atoms/classname.html title=plan.title %}" class="primary-plan {% include atoms/classname.html title=plan.class %}">
  <div class="container">
    {% if plan.class == "popular" %}
      <div class="popular">
        <p>
          Most popular
        </p>
      </div>
    {% endif %}
    
    <div class="title">
      <h2>{{ plan.title }}</h2>
    </div>
    
    <div class="subtitle">
      <p>
        {{ plan.subtitle }}
      </p>
    </div>
    
    <div class="users">
      1 Users
    </div>
    
    {% if plan.price %}
      <div class="price">
        <span class="usd">
          <span>${{ plan.price }}</span>
        </span>
        <span>/ month</span>
      </div>
    {% endif %}
    
    {% if plan.instead-of-price %}
      <div class="instead-of-price">
        <p>
          {{ plan.instead-of-price }}
        </p>
      </div>
    {% endif %}
    
    
    <div class="features">
      <ul>
        {% for feature in plan.features %}
          <li>
            <span class="feature">
              {{ feature.title }}
            </span>
            
            <span class="feature-description">
              {{ feature.description }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
    
    {% if plan.billed %}
      <div class="billed">
        <p>
          {{ plan.billed }}
        </p>
      </div>
    {% endif %}
    
    <div class="button">
      <p>
        {{ plan.button }}
      </p>
    </div>
  </div>
</article>