@mixin faq($color) {
  article {
    @include show-title;
    margin-top: $gutter * 2;

    @include center($text-width);

    .container {
      max-width: $text-width;
      
      h3 {
        @include font(box-title);
      }
      
      p {
        margin-top: $gutter;
      }
      
      @include landscape {
        @include faq-border($color);
      }
    }
    
  }
}


@mixin faq-border($color) {
  &:after {
    content: '\00b0';
    @include color($color);
    display: inline-block;
    margin-top: $gutter * 2;
    margin-bottom: $gutter;
  }
} 