@mixin primary-plan {
  .title {
    h2 {
      @include font(box-title);
    }
  }
  
  .subtitle {
    p {
      @include font(subtitle);
    }
  }
  
  .users {
    margin: $gutter 0;
  }
  
  .price {
    .usd {
      @include circle-with-text($gutter * 2);
      @include colors(darkblue-on-green);
      @include font(highlight);
      
      position: relative;
      top: -$gutter / 2;
      
      span {
        top: $gutter / 2;
      }
    }
  }
  
  .features {
    margin-top: $gutter;
    
    ul {
      @include list-underlined;
      @include font(highlight);
      
      li {
        span {
          &.feature {
            &:after {
              content: '?';
              margin-left: $gutter / 2;
              @include color($green);
              font-size: smaller;
              
              // On mobile the question mark is too big, and sometimes is put alone in a new line
              @include portrait {
                margin-left: 2px;
              }
              
              cursor: pointer;
            }
          }
          
          &.feature-description {
            display: none;
          }
        }
      }
    }
  }
  
  .billed {
    margin-top: $gutter;
    p {
      @include font(subtitle);
    }
  }
  
  .button {
    margin-top: $gutter;
    
    p {
      @include button;
    }
  }
  
  .popular {
    display: none;
    @include block;
    position: absolute;
    //top: calc(#{-$gutter} - 1px);
    top: -$gutter - $gutter / 2;
    left: 0;
    
    @include colors(green-on-darkblue);
    @include font(box-title);
  }
  
  
  // Billing is missing, so we make all plans equal height on desktops
  &#enterprise {
    @include landscape {
      .features {
        margin-top: $gutter * 3 - $gutter / 4;
      }
      .button {
        margin-top: $gutter * 2 + $gutter / 2;
      }
    }
  }
}